
<div class="toolbar" role="banner">
  <span>Charlotte Medalla</span>
</div>


<div class="content" role="main">
<h1> {{title}} </h1>
</div>

 <div class="terminal center" >
  <h4>Iron Man: Hello</h4>
  <h4>Charlotte: Hi</h4>
</div>


<app-heroes-lists></app-heroes-lists>


<div class="item-list">

<app-item-list (newItemEvent)="addItem($event)"></app-item-list>

<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>

</div>
  
  

<router-outlet></router-outlet>
